@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET GitHub Example</h1>
    <p class="lead">This is part of a tutorial on JesseDotNet.com.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            First down load GitHubExtensions for Visual Studio
        </p>
        <p><a class="btn btn-default" href="https://visualstudio.github.com/">Download &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Create a GitHub Account</h2>
        <p>Accounts can be created for free.</p>
        <p><a class="btn btn-default" href="https://github.com/">GitHub &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Check out the tutorial</h2>
        <p>Learn how to publish and existing project here.</p>
        <p><a class="btn btn-default" href="http://www.jessedotnet.com">Learn more &raquo;</a></p>
    </div>
</div>